.admin-login {
    position: absolute;
    background: url('../../images/admin-login-background.jpg') no-repeat;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

.login-form {
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgba(10, 102, 102, 0.349);
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}